@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&family=Nunito:wght@200;300;400;500;600;700;800;900;1000');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

root {
}

* {
    margin: 0;
    color: #69665C;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    height: 100vh;
    font-size: 15px;
    font-weight: 300;
}



main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wrapper {
    display: flex;
    height: 100vh;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 80px 0 80px;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    height: 100%;
    overflow: hidden;
    flex-shrink: 2;
}

.navigation__burger {
    display: none;
}

.todo__title {
    margin-bottom: 30px;
}

.upper {
    flex: 1 0 auto;
}

.navigation__tags {
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
}

.tags__list {
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

.tags__list li {
    list-style: none;

}

.tag {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}


.day__title {
    margin-bottom: 30px;
}


.tag__ellipse {
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    margin-right: 7px;
}

#ellipse-1 {
    background-color: #D2CEFF;
}

#ellipse-2 {
    background-color: #FFCECE;
}

#ellipse-3 {
    background-color: #DAF2D6;
}

#ellipse-4 {
    background-color: #D1E5F7;
}

.day-view {
    flex-shrink: 1;
    flex-direction: column;
    width: 65%;
    overflow: hidden;
}

.tasks__list {
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

.tasks__list li {
    list-style: none;

}

.task {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    background-color: #FFF9DE;
    margin-bottom: 12px;
    margin-right: 20px;
    padding: 15px 20px;
}

.task__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 12px;
}

.task__description {
    margin-bottom: 12px;
}

.task__button {
}

.task__options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.task__tags {
    display: flex;
    flex-direction: row;
}

#task-ellipse-1 {
    background-color: #D2CEFF;
}

#task-ellipse-2 {
    background-color: #D1E5F7;
}

#task-ellipse-3 {
    background-color: #FFCECE;
}

.checkbox {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkbox-input {
    position: absolute;
    width: 1.375em;
    height: 1.375em;
    opacity: 0;
    cursor: pointer;
}

.checkbox-icon {
    width: 1.375em;
    height: 1.375em;
    flex-shrink: 0;
    overflow: visible;
}

.checkbox-icon .tick {
    stroke-dasharray: 20px;
    stroke-dashoffset: 20px;
    transition: stroke-dashoffset 0.2s ease-out;
}

.checkbox-label {
    margin-left: 0.5em;
}

.checkbox-input:checked + .checkbox-icon .tick {
    stroke-dashoffset: 0;
}

.logo__image {
    width: 20vh;
    height: 23vh;
    flex: 0 0 auto;
    margin-bottom: 30px;
}

.calendar {
    flex-direction: column;
    width: 60%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    flex-shrink: 2;
}

@media (max-width: 1200px) {
    .wrapper {
        max-width: 970px;
    }

    .tag__ellipse {
        width: 3vh;
        height: 3vh;
        border-radius: 50%;
        margin-right: 7px;
    }

    .tag__name {
        font-size: 15px;
    }
}

@media (max-width: 992px) {
    .wrapper {
        max-width: none;
        margin: 20px 10px 10px 10px;
    }

    .tag__ellipse {
        width: 5vh;
        height: 5vh;
        border-radius: 50%;
        margin-right: 7px;
    }

    .tag__name {
        font-size: 25px;
    }

    .calendar {
        width: 0;
        display: none;
    }
    .todo__title {
        display: none;
    }

    .logo {
        display: none;
    }

    .navigation {
        width: 10%;
    }

    .day-view {
        width: 90%;
        margin-left: 20px;
        margin-right: 0;
    }

    .navigation__burger {
        display: block;
        position: relative;
        margin-top: 10px;
        width: 30px;
        height: 20px;
        z-index: 2;
        left: 0;

    }

    .navigation__burger span {
        background-color: #69665C;
        position: absolute;
        width: 100%;
        height: 10%;
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .navigation__burger::before,
    .navigation__burger::after {
        content: '';
        background-color: #69665C;
        position: absolute;
        width: 100%;
        height: 9%;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .navigation__burger::before {
        top: 0;
    }

    .navigation__burger::after {
        bottom: 0;
    }

    .navigation__burger._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }

    .navigation__burger._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }

    .navigation__burger._active span {
        transform: scale(0) translate(0px, -50%);
    }
    .navigation__tags {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        width: 100%;
        background-color: #F6FFF8;
        padding: 100px 30px 30px 30px;
        transition: left 0.3s ease 0s;
        overflow: auto;
    }

    .navigation__tags._active {
        left: 0;
    }

    .tags__list {
        display: block;
    }

    .tags__list li{
        margin: 0 0 30px 0;
    }

    .tag {
        font-size: 24px;
    }


}